.border {
    border: 2px solid black;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    color: white;
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.grey{
    background-color: #121212;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333333; /* dark grey */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #25ff25; /* grey */
    border-radius: 5px; /* roundness of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #25ff25; /* lighter grey */
  }
  
  /* Handle when scrollbar is active (clicked on) */
  ::-webkit-scrollbar-thumb:active {
    background: #25ff25; /* darker grey */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background: #25ff25; /* dark grey */
  }
  
  